body {
    background-color: #E0ECE4;
}

h1 {
    color: #ff4b5c;
}

h2 {
    color: #056674;
}

.center {
    text-align: center;
    list-style-position: inside;
}

ol.center li {
    text-align: center;
    margin-right: 45px
    
}